name: Deploy Coins Extention to VS Code Marketplace
on:
  push:
    branches:
    - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install and Build and Publish
        run: |
          npm install -g vsce
          npm install
          vsce package
          vsce publish -p $VSCE_PAT
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}